* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.main-container{
  height: auto;
  width: auto;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction:column ;
  justify-content: space-evenly;
  align-items: center;
}

.app-container {
  width: 80%;
  max-width: 1000px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
